<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="{{ site.theme.link }}/assets/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header class="main-header">
    	<div class="container">
    		<div class="main-header-left">
    			<div class="main-header-menu">
    				<ul>
    					<li>
    						<a href="">Коллекции</a>
    						<ul class="sub-menu">
    							<li><a href="">Коллекции</a></li>
    							<li><a href="">Коллекции</a></li>
    							<li><a href="">Коллекции</a></li>
    						</ul>	
    					</li>
    					<li>
    						<a href="">Бижутерия</a>
    						<ul class="sub-menu">
    							<li><a href="">Коллекции</a></li>
    							<li><a href="">Коллекции</a></li>
    							<li><a href="">Коллекции</a></li>
    						</ul>	
    					</li>
    					<li>
    						<a href="">Изделия из кожи</a>
    						<ul class="sub-menu">
    							<li><a href="">Коллекции</a></li>
    							<li><a href="">Коллекции</a></li>
    							<li><a href="">Коллекции</a></li>
    						</ul>	
    					</li>
    					<li>
    						<a href="">Изделия из стекла</a>
    						<ul class="sub-menu">
    							<li><a href="">Коллекции</a></li>
    							<li><a href="">Коллекции</a></li>
    							<li><a href="">Коллекции</a></li>
    						</ul>	
    					</li>
    				</ul>
    			</div>
    		</div>
    		<div class="main-header-logo"><a href=""><img src="{{ site.theme.link }}/assets/images/logo.svg" alt=""></a></div>
    		<div class="main-header-right">
    			<div class="main-header-menu">
    				<ul>
    					<li><a href="">Царские дары</a></li>
    					<li><a href="">Партнерам</a></li>
    					<li><a href="">Новости</a></li>
    					<li><a href="">Контакты</a></li>
    				</ul>
    			</div>
    			<div class="js-search">
                    <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.511 18.9524C15.5605 18.9524 19.6539 14.859 19.6539 9.80951C19.6539 4.76005 15.5605 0.666656 10.511 0.666656C5.46156 0.666656 1.36816 4.76005 1.36816 9.80951C1.36816 14.859 5.46156 18.9524 10.511 18.9524Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M17.3682 16.6666L22.7015 22" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
	     		<div class="search-block">
                    <div class="search-close"></div>
					<form role="search" method="get" id="searchform" action="" >
						<input class="sb-search-input" placeholder="Поиск..." type="text" value="" name="search" id="search">
						<input class="sb-search-submit" type="submit" value="Найти">
					</form>
				</div>
				<a href="" class="main-header-cart">
					<svg width="15" height="23" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.572 23a.383.383 0 100-.767H1.917a1.149 1.149 0 01-1.146-1.25L1.938 7.756a1.144 1.144 0 011.146-1.049h1.183v1.725a.383.383 0 00.767 0V3.977c0-1.77 1.44-3.21 3.21-3.21s3.21 1.44 3.21 3.21v1.965h-5.03a.383.383 0 000 .766h5.03v1.725a.383.383 0 10.767 0V6.708h1.184a.383.383 0 100-.766H12.22V3.977A3.982 3.982 0 008.244 0a3.982 3.982 0 00-3.977 3.977v1.965H3.084c-1 0-1.822.751-1.91 1.748L.008 20.915A1.918 1.918 0 001.917 23h12.655z" fill="#fff"/></svg>
					<span class="count-prod">1</span>
				</a>	
    		</div>
    	</div>
    </header>