.footer-content {
    overflow: hidden;
    background: linear-gradient(90deg, #232322 -33.15%, #DBDBDB 27.61%);
    padding: 3px;
}
.footer-content-inner {
    background-color: #0E0E0E;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: calc(100% - 302px);
}
.footer-content-inner {
    background-color: #0E0E0E;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 20px 30px;
}

.footer-name {
    font-weight: bold;
    font-size: 24px;
    line-height: 120.6%;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.footer-menu-item {
    margin-right: 50px;
}
.footer-menu-item .footer-menu-content ul {
	margin: 0;
    padding: 0;
}
.footer-menu-item:first-child .footer-menu-content ul {
    -moz-column-count: 2;
    column-count: 2;
    column-gap: 60px;
}
.footer-menu-content ul li {
    margin-bottom: 10px;
}
.footer-menu-content ul li a {
    font-size: 18px;
    line-height: 120.6%;
    color: #FFFFFF;
    text-decoration: none;
}
.footer-content-inner .circle-1,
.footer-content-inner .circle-3{
	border-color: #888887;
}
.footer-content-inner .circle-2,
.footer-content-inner .circle-4{
	border-color: #DBDBDB;
}
.footer-info {
    width: 130px;
    margin-right: 50px;
}
.footer-info-item {
    margin-bottom: 10px;
}
.footer-info-item-name {
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}
.footer-info-item a {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}
.footer-info-social a {
    font-size: 14px;
    line-height: 120.6%;
    color: #DBDBDB;
    text-decoration: none;
    padding-left: 23px;
    background-image: url(../images/instagram.svg);
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 18px;
    margin-top: 5px;
    display: inline-block;
}

a.footer-logo {
    width: 121px;
}
.under-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}
a.under-footer-link {
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
}
.under-footer-year {
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}


a.is-art {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}
a.is-art img {
    width: 52px;
    margin-left: 10px;
}
